<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/background_style.css"/>

    <script src="https://kit.fontawesome.com/8ca0a545f6.js" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="application/javascript" src="static/functionality.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushrooms Finder</title>
</head>
<body>
<div id="second_bg">
    <div class="topnav">
        <a href="/" id="brand-logo"><img src="/static/mushroom_logo.svg"></a>
        <a href="contact"><i class="fas fa-paper-plane"></i> Contact</a>
        <a class="active" href="about"><i class="fas fa-info-circle"></i> About</a>
        <a href="map"><i class="fas fa-tree"></i> Map</a>
        <a href="/"><i class="fa fa-home"></i> Home</a>
    </div>
    <div class="inner_container"
         style="background: rgba(255, 255, 255, 0.51);
         flex: 1;overflow-y: auto;">
        <div class="text_container" style="padding-left: 50px;padding-right: 50px;">
            <h1 class="entry-title" itemprop="headline">About Mushroom Finder</h1>
            <p style="padding-right: 50px;"><img src="/static/birch.JPG"
                                                 style="float: left;width: 300px;height: auto; padding-right: 20px;">
                Thank you for clicking on the About page, If you are trying to learn more about this website and how it
                came to be, then you have come
                to the right place! This Mushroom Finder website was originally designed to be hosted in an application
                for iPhone and Android smart phones.
                We are still committed in to making this possible so that mushroom foragers can download the app easily
                and use it while on their way to
                unique mushrooms discovery. For now, this website contains all of the information necessary in helping
                you locate your mushrooms of interest around you.

            </p>
            <div></div>
            <h1 class="entry-title" itemprop="headline">Acknowledgment</h1>
            <p><img src="/static/honey_mushroom.JPG"
                    style="float: right;width: 300px;height: auto; padding-right: 20px;">
                We would like to thank you <a href="https://www.inaturalist.org/">iNaturalist</a>,
                an online social network of people sharing biodiversity information about nature,
                for providing wonderful source of biological datasets through their iNat Restful API.
                iNaturalist's data plays a huge role in this website development and it would not be possible without
                their
                contribution. We would also like to thank many of the curators from
                <a href="https://www.vecteezy.com/">Vecteezy</a> as an attribution for proving their beautiful
                images to be used in this website. This website would not look as enchanting and captivating without
                these background visualizations. Finally, we would like to thank Google Maps and Font Awesome for
                providing
                pretty map and navigation icons to be used free of charge. More detailed citations are listed below in
                the Citation section.
                Thank you again for your involuntary contributions and effort into making this website possible.

            </p>
            <h1 class="entry-title" itemprop="headline">Citations</h1>
            <p>Ablashi,Liz. <a style="font-style: italic">Mountain Lake Sunset Landscape First Person View.
                Vecteezy,</a>
                https://www.vecteezy.com/vector-art/246312-mountain-lake-sunset-landscape-first-person-view.
            </p>
            <p>RF,Graphics. <a style="font-style: italic">Set of different mushrooms. Vecteezy,</a>
                https://www.vecteezy.com/vector-art/591300-set-of-different-mushrooms.
            </p>
            <p>RF,Graphics. <a style="font-style: italic">Different type of tree stump. Vecteezy,</a>
                https://www.vecteezy.com/vector-art/295751-different-type-of-tree-stump.
            </p>
             <p>orangereebok. <a style="font-style: italic">Loon Cartoon Vector. Vecteezy,</a>
                https://www.vecteezy.com/vector-art/152412-loon-cartoon-vector.
            </p>
             <p>spideyspike. <a style="font-style: italic">Red Mushroom Mascot Character Set. Vecteezy,</a>
                https://www.vecteezy.com/vector-art/830513-red-mushroom-mascot-character-set.
            </p>
            <p>dreamerice. <a style="font-style: italic">Free Agricultural Icon Vector. Vecteezy,</a>
                https://www.vecteezy.com/vector-art/127484-free-agricultural-icon-vector.
            </p>

            <p>
            </p>
            <div id="footer">
                <span style="color: #2a2a2a;">Built for mushroom foragers by Chana Lim</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>